<h1>test</h1>
<% if @is_english_word == true && @is_included == true %>

  <p>You Win!</p>
<% elsif @is_english_word == false %>
  <p>Not an English word</p>
<% else %>
  <p>Not included in the grid!</p>
<% end %>
